.social-container button {
    padding: 10px;
    
    border: 0;
    border-radius: 5px;

}


.display-img {
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

.toggle-alt-text {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 4rem;
}

.toggle-alt-text button {
    padding: 10px;
    
    border: 0;
    border-radius: 5px;
}

.img-display-content {

    width: 100%;

    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
}

.img-display-content figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.img-display-content img {
    max-width: 100%;
    height: auto;
}

.img-display-content label {
    color: var(--fontColorBlack);
    font-size: var(--fontSizeLarge);
    font-family: var(--fontFamilyHowl);
    font-weight: 600;

}

.my-fav-song {
    margin-top: 4rem;
}



.seo-smo {
    color: var(--fontColorWhite);
    font-weight: 800;

    background-color: hsl(0, 0%, 20%);
    /* filter: blur(0.5px); */
    padding: 20px;

    

    border-radius: 10px;
}

.p-container label {

    font-size: 20pt;
    margin-bottom: 15px;
}

.p-container p {
    font-size: 15pt;
    margin-bottom: 15px;
}

.smo-section {
    margin-top: 10vh;
}

#title-seo h1{
    color: var(--fontColorWhite);
}


.insta a img {

    height: 24px;
    width: 24px;
}

.insta {
    margin-top: 10vh;
    display: grid;
    place-content: center;
}

.citation {
    margin-top: 10vh;
}

.citation ul {
    list-style-type: none;
    padding: 0;
}
.citation ul li{
    margin-top: 20px;
}